@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    GF, 27 Atchison St<br />
    St Leonards, 2065<br />
    <abbr title="Phone">P:</abbr>
    1300 736 119
</address>

<address>
    <strong>Sales:</strong>   <a href="mailto:sales@vivipos.com.au">sales@vivipos.com.au</a>
</address>